<br/>
<br/>
<br/>
<br/>
<p>
	--------------------<br>
	If you no longer wish to receive emails from this fundraising page, 
	<%= link_to "unsubscribe", "#{LocalURL}/home/email_unregister?campaign_id=#{@campaign.id}&to=#{@to}" %>.
</p>
