Congratulations on completing the first promotion for your new page.  Here are just some of the things you can now do:<br>
<br>
&mdash; <strong>Manage Appeals</strong>. Under the Promote Tab, select Manage Appeals to see all the people you have invited to your page.  As time goes by, you can send nudges to remind those who haven't contributed yet, thank your contributors, and communicate with everyone.<br>
<br>
&mdash; <strong>e-Bumper Stickers</strong>. Build an electronic Bumper Sticker that links to your campaign and put it up on Facebook or almost anywhere else on the Internet.  Under the Promote Tab, select e-Bumper Stickers and follow the prompts.<br>
<br>
&mdash; <strong>Facebook Inboxes</strong>. Place the link to your campaign directly into your friends' Facebook inboxes:<br>
<ul>
	<li>In Facebook, select the "Friends" tab</li>
	<li>Select "Make a New List" and follow the instructions, adding up to 19 people you want to send the link to (Facebook will only let you message 19 people at once).</li>
	<li>Scroll down to the bottom of the list and click "Message this list"</li>
	<li>Compose your message, making sure to include the link to your fundraising page in the body.</li>
	<li>Send!</li>
</ul>
&mdash; <strong>Advanced Settings</strong>. Under the Edit tab, select Advanced Settings to change your fundraising page's privacy settings and turn on/off your Comment Wall, Donation Tracker, and Donor Wall.<br>
<br>
&mdash; <strong>New Appeals</strong>. You can always invite more people to your page.  Just go to the "Promote" sub tab and select "New Appeal."<br>
<br>
&mdash; <strong>Photo/Video Gallery</strong>. To add photos/videos to the gallery beneath the donation tracker, select Photos" or "Videos" under the Edit tab.<br>
<br>
&mdash; <strong>Notification Settings</strong>. You can receive emails when donations hit your page.  Click the Dashboard tab (top-right) and scroll down to the bottom-left of the page to determine when your notification settings.<br>

