Thanks for creating a fundraising page on AlumniFidelity!  You can always find your page by logging in and selecting it under the "Fundraising Pages" tab near the top-right of the site.<br>
<br>
If you haven't already done so, simple banner prompts will guide you through the remaining steps of previewing your page, promoting it, and, if you'd like, starting the momentum by donating through it.<br>
<br>
Should you need any help in this process, you can always email us at <a href="mailto:support@alumnifidelity">support@alumnifidelity</a>.<br>
<br>
Sincerely,<br>
AlumniFidelity