<div class="campaign_suspended">
	<h2>Sorry, but this page is temporarily unavailable.</h2>
	<div>
		 Please check back later. If you visit <a href="/organizations/<%= @organization.id %>"><%= @organization.name %></a>'s page , you can find related fundraising pages or create your own fundraising page.
	</div>
</div>