<div id="main" class="bgstyle3">
      <div class="top_left"><div class="top_right"></div></div>
      <div class="content faq">
		
		<%= cms("about_page", %|
		<h1>About Us</h1>

		<h2>Who We Are</h2>

		<p>AlumniFidelity
		is a fundraising platform founded in 2007 to enable anyone to become an
		effective fundraiser for the school or organization of their choice.  You will
		have more success at raising funds from your family and friends than anyone in
		the world; studies show that people are 100 times more likely to give to a
		cause when asked by a friend or family member than when solicited anonymously.</p>

		<p>AlumniFidelity
		puts the latest Web tools at your disposal to make your fundraising page
		dynamic, persuasive, and easy to create.</p>


		<h2>Why Alumni Giving Matters</h2>

		<p>While
		the financial environment is different for every school, it is always true that
		tuition and state funding (if applicable) only cover a portion of a school’s
		expenses.  Many schools depend on private contributions for survival, and <i>all</i>
		schools need private contributions to thrive and to keep tuition levels within
		reason.</p>

		<p>Moreover,
		many measures of academic excellence – including the rubric used by U.S. News
		and World Report – take into account the alumni “participation rate” – the
		percentage of alums that give anything back to their alma mater – when assessing
		the quality of a school.  Alumni participation speaks both to the quality of
		the experience that alumni had as students and to the likely future success of
		the institution.  If you want your alma mater viewed in the best possible light
		by peers, business associates, and future generations, there is no better way
		to make an impact than by making a financial contribution.</p>

		<p>Finally,
		whether you realized it at the time or not, during your undergraduate years you
		benefited greatly from the generosity of alumni who came before you.  Now you
		have the opportunity to ensure that others will have an experience that is as
		good, or better, than your own.</p>

		<p>&nbsp;</p>|) %>
      </div>
      <div class="bottom_left"><div class="bottom_right"></div></div>
    </div> 

