    <div id="main" class="bgstyle3">
      <div class="top_left"><div class="top_right"></div></div>
      <div class="content faq">
		<div>
			<%= cms("contact", %|<h2>Contact Information</h2>
	        <p><span>For <b>site support</b> or questions about <b>registering as an organization</b >, please email <a
			href="mailto:support@alumnifidelity.com">support@alumnifidelity.com</a>.</span></p>
	        <p><span>For <b>press inquiries</b>, please email <a href="mailto:press@alumnifidelity.com">press@alumnifidelity.com</a>.</span></p>
			<p><span>For all questions, you may call us at (202) 680-8925.</span></p>|) %>
		

      </div>
      <div class="bottom_left"><div class="bottom_right"></div></div>
    </div> <!-- END right column  -->