
    <div id="main" class="bgstyle3">
      <div class="top_left"><div class="top_right"></div></div>
      <div class="content faq">

          <div class=Section1>
		<%= cms("faq", %|
          <h1>Frequently Asked Questions</h1>
          <h2>Contributing through AlumniFidelity</h2>

          <h3>How does my donation get to the university?</h3>
          <p><span>100%
          of every donation goes directly to the university at the time you make the
          gift, less the same credit card fees that always apply when you give online.
          And if you create your own campaign with AlumniFidelity, you are helping your
          school save money by reducing its need to rely on direct mail, cold calling,
          and other costly fundraising activities that most schools employ to maintain a
          high quality annual fundraising program.</span></p>

          <h3>Will I get a receipt for my donation?</h3>
          <p><span>Yes.
          You will always receive an e-receipt so that you can claim your tax deduction.  For
          donations exceeding $250, you will also receive a hard-copy receipt to the
          address you provide.</span></p>

          <h3>Is my donation tax deductible?</h3>
          <p><span>Yes.
          All donations to schools or organizations through AlumniFidelity are tax
          deductible.  Save the receipt you receive after making your gift for tax
          purposes.</span></p>

          <h3>Can I make a recurring contribution? </h3>
          <p><span>Yes!
          As you follow the steps in making a donation, simply select the “recurring
          donation” option and indicate whether you would like the donation to recur
          monthly or yearly.  Regardless of the size of the institution receiving the
          funds, schools appreciate the added value of planned gifts because they help
          each school plan.  If you expect to make a yearly contribution to your school,
          we strongly recommend considering the option of making yours a recurring gift
          to help your school plan its budget.</span></p>

          <h3>Why are donations tax deductible?</h3>
          <p><span>Unlike     many countries, the US tax code allows individuals to deduct the cost of
          charitable gifts from their annual taxable income in order to encourage
          citizens to be generous with their money and support worthy causes like higher
          education.  </span></p>

          <h3>Is there a maximum donation?</h3>
          <p><span>No!
          You may give as generous of a donation as you wish.  The IRS allows people to
          deduct charitable contributions of up to fifty percent of their adjusted gross
          income.  </span></p>

          <h3>My alma mater isn’t in your directory – what gives?</h3>
          <p><span>If    you can’t find your school in our directory, that means that
        they haven’t
          signed up to start fundraising with AlumniFidelity.  Click
 		  <a href="/home/contact_signup">here</a> to
          sign up to be the first to know when your school joins the AlumniFidelity
          network! </span></p>

          <h3>Does AlumniFidelity take a percentage of my gift?</h3>
        <p><span>We don’t take any percentage of gifts to colleges or universities.  </span></p>

          <p><span>We
          work with other types of nonprofit organizations on an individual basis, and we
          disclose each relationship on that organization’s main page.  Our goal is to
          make the most sophisticated Web fundraising tools available to nonprofits
          regardless of size or budget, so we offer clients a variety of ways to pay for
          the cost of their fundraising operations.</span></p>

          <h3>If
          I donate to a school using AlumniFidelity, will I get phone calls and email
          from the school?</h3>
          <p><span>Only
          if you want to.  We have to give schools your billing/mailing address, but you
          control whether or not your school receives your phone or email.  When filling
          in your contact information, simply uncheck the box that says, “Yes, please
          pass on my contact information to my school!”</span></p>

          <h3>Does
          my fundraising page have to appear in the public directory?</h3>
          <p><span>No.
          To hide your campaign, open it up and go into the “Advanced” tab.  Under
          “Viewability” select the “Private” option.</span></p>
			
		  <h3>Is AlumniFidelity.com a secure website? What type of security features are utilized to safeguard my information?</h3>
		  <p><span>Security is a top priority at AlumniFidelity.com.  When you submit sensitive information via the website, your information is protected both online and offline.  When our registration or donation form asks you to enter sensitive information (such as your credit card number), that information is encrypted and is protected with the best encryption software currently available in the industry - SSL.  Furthermore, when it comes to credit card numbers or other personal financial data, AlumniFidelity does not permanently store your information, which further enhances your security. </span></p>

          <h2>Community Organizations </h2>

          <h3>How   does AlumniFidelity define a community organization?</h3>
          <p><span>A
          community organization is any club, team, or voluntary association (from a
          junior varsity lacrosse team to a local PTA), that has a positive impact on the
          community in which it is located.  These organizations depend on collecting
          dues or donations from local members and their families, but many have steered
          clear of online fundraising due to the complexity and cost of setting up a
          secure way to process credit card transactions.  For approved community
          organizations, AlumniFidelity agrees to pay the cost of setting up a
          fundraising account so that the club or association can maximize support.  Each
          community organization, regardless of size or ability to pay, can take
          advantage of the same tools that are currently only available to large,
          established organizations or schools with big budgets.</span></p>

          <h3>How   does AlumniFidelity choose which community organizations to help?</h3>
          <p><span>AlumniFidelity
          is willing to help all community organizations with either short-term or
          long-term fundraising campaigns as long as they have a positive impact on their
          community and are affiliated with a public or private secondary school, a
          non-profit organization, or a college or university.  If you are not sure if
          your organization qualifies, <a
          href="mailto:david@alumnifidelity.com?subject=Idea%20for%20AlumniFidelity">contact
          us</a> to find out!</span></p>

          <h3>What is the “quiet period” and why should I care? </h3>
          <p><span>A
          “quiet period” is the time when you have started raising money but haven’t yet
          publicly announced the campaign and its goals.  Often professional fundraisers
          will raise as much as half of their total goal during the quiet period.  This
          is a time to ask only the people who you think are the very most likely to make
          a donation.  When you unveil the campaign you will announce your overall goal
          and your success so far, so that the momentum generated by your strongest
          supporters helps bring others into the process.   If you click the “Advanced”
          tab and check the “Set a Quiet Period” option, your Donation Tracker will
          remain hidden and your campaign will not appear in the site’s directory and
          until you go back and uncheck the “Set a Quiet Period” option.</span></p>


          <h2>Miscellaneous</h2>

          <h3>I have a great idea about how to improve this site - who can I tell?</h3>
          <p><span>That's     great!  Please <a
          href="mailto:david@alumnifidelity.com?subject=Idea%20for%20AlumniFidelity">let
          us know</a>.  </span></p>
          <div>
          <p  style='border:none;padding:0in'><b><span>Do you still have a question?  </span></b><span><a
          href="mailto:david@alumnifidelity.com?subject=Idea%20for%20AlumniFidelity">Let
          us know</a>!</span></p>
          <p  style='border:none;padding:0in'><b><span>&nbsp;<h3>
          </div>
          <h3 style='margin:0in;margin-bottom:.0001pt'><span>&nbsp;</span></h3>
          </div>
|) %>
      </div>
      <div class="bottom_left"><div class="bottom_right"></div></div>
    </div> <!-- END right column  -->



