<h1>Get featured</h1>
<strong>Ready for your close up?</strong>
<ul>
	<li>Save and review at least five places</li>
	<li>Complete your profile questions</li>
	<li>Add your photo</li>
</ul>
Done all that? 
<a href="javascript:;" onclick="window.opener.location='/feedback/new';window.close();">Let us know!</a>
