<style>
	#main ul {
		margin-left:15px;
	    list-style-type:disc;
		list-style-position:outside;
	}
	
	#main li {
		line-height:1.3em;
		margin-bottom:10px;
	}
</style>

<div id="main" class="bgstyle3">    
<%= cms("privacy", %|

	<h1>AlumniFidelity, Inc. Privacy Notice</h1>

	<p>AlumniFidelity, Inc. (“AlumniFidelity”) knows that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This notice describes our privacy policy. This policy covers how AlumniFidelity treats personal information that it collects and receives, including information related to your past use of its services. This policy does not apply to the practices of companies or entities that AlumniFidelity does not own or control, or to people that AlumniFidelity does not employ or manage. For purposes of this policy, “personal information” is information about you that is personally identifiable like your name, address, email address, or phone number, and that is not otherwise public information. By visiting AlumniFidelity, you are accepting the practices described in this Privacy Notice.</p>

	<h2>What Personal Information About Customers Does AlumniFidelity Gather?</h2>

	<p>The information we learn from customers helps us personalize and continually improve your shopping experience at AlumniFidelity. Here are the types of information we gather.</p>
	<ul>
	    <li><strong>Information You Give Us</strong>: We receive and may store any information you enter on our Web site or give us in any other way, excluding credit card information which is transmitted to credit card processors but not retained for any extended period.  To register on our site, you are asked to provide name, address, email address and other personally identifying information. You can choose not to provide certain information, but then you might not be able to take advantage of many of our features. We use the information that you provide for such purposes as responding to your requests, customizing future shopping for you, improving our services and communicating with you and providing information to individuals organizing charitable giving campaigns and charitable organizations seeking funds and information about their donor base.</li>
	    <li><strong>Automatic Information</strong>: We receive and may store certain types of information whenever you interact with us. For example, like many Web sites, we use "cookies," and we obtain certain types of information when your Web browser accesses AlumniFidelity or advertisements and other content served by or on behalf of AlumniFidelity on other Web sites.</li>
	    <li><strong>E-mail Communications</strong>: We may store email messages sent to and by you through the AlumniFidelity website.  We require your e-mail address when you donate so that we can e-mail you a receipt. Also, you may choose to receive occasional e-mail updates as we develop this site. To help us make e-mails more useful and interesting, we may receive a confirmation or other feedback when you open or respond to e-mail from AlumniFidelity.  If you do not want to receive e-mail or other mail from us, please choose the “opt-out” feature here. Please allow a week to remove your name from our current listings.</li>
	    <li><strong>Other Sources</strong>: We might receive information about you from other sources, such as a charitable organization or campaign organizer and add it to our account information. AlumniFidelity may also combine information about you that we have with information we obtain from business partners or other companies.</li>  
		</ul>



	<h2>What About Cookies and IP Addresses?</h2>
	<ul>
	    <li>Cookies are alphanumeric identifiers that we transfer to your computer's hard drive through your Web browser to enable our systems to recognize your browser and allow storage of information that you have inserted during visits. We log IP addresses, which are the locations of computers or networks on the Internet, and analyze them for systems administration and troubleshooting purposes. We may also aggregate the number of page hits and collect other data in order to track the popularity and use of certain pages and improve the quality of our site.</li>
	    <li>The Help portion of the toolbar on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. However, because cookies allow us to manage donor campaigns more effectively and assist charitable giving, we recommend that you leave them turned on.</li>
	</ul>


	<h2>Does AlumniFidelity Share the Information It Receives?</h2>

	<p>Information about you is an important part of our business, and we are not in the business of selling it to others. We may share your only as described herein with (i) our vendors who have a need to know such information to process transactions, analyze data, update the website, conduct legal compliance and evaluation, perform marketing and data management services, provide customer service and similar assistance, (ii) charitable organizations and other entities to which you make donations through this site, (iii) any legal or governmental authorities to which we are required to report, as well as (iv) creators of fundraising campaigns who receive reports about donations made through the web pages they create, which include the dates, amounts, and recipients of these contributions.  AlumniFidelity may also share or transfer data that has been aggregated, following analysis, that does not include individual information.</p>

	<ul>
	    <li><strong>Business Transfers</strong>:  As AlumniFidelity expands, we might sell or buy stores, subsidiaries, or develop other business units. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Notice (unless, of course, the customer consents otherwise). Also, in the event that AlumniFidelity or substantially all of its assets or equity are acquired, customer information will of course be one of the transferred assets and/or subject to some diligence by an acquirer.</li>
	    <li><strong>Protection of AlumniFidelity and Others</strong>: We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Terms of Service and other agreements; or protect the rights, property, or safety of AlumniFidelity our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. Obviously, however, this does not include selling, renting, sharing, or otherwise disclosing personally identifiable information from users for commercial purposes in violation of the commitments set forth in this Privacy Notice.</li>
	    <li><strong>With Your Consent</strong>: Other than as set out above, you will receive notice when information about you might go to third parties, and you will have an opportunity to choose not to share the information.</li>
	</ul>


	<h2>How Secure Is Information About Me?</h2>
	<ul>
	    <li>We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input.</li>
	    <li>AlumniFidelity does not save any credit card information.</li>
	    <li>It is important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when finished using a shared computer.</li>
	</ul>

	<h2>Which Information Can I Access?</h2>


	<p>AlumniFidelity gives you access to a broad range of information about your account and your interactions with AlumniFidelity for the limited purpose of viewing and, in certain cases, updating that information.  </p>

	<h2>What Choices Do I Have?</h2>
	<ul>
	    <li>As discussed above, you can always choose not to provide information, even though it might be needed to take full advantage of AlumniFidelity’s services.</li>
	    <li>If you do not want to receive e-mail or other mail from us, please “opt-out” by clicking here.  If you do not want to receive e-mail or other mail from us, please “opt-out” by clicking here. (If you do not want to receive Terms of Service and other legal notices from us, such as this Privacy Notice, those notices will still govern your use of AlumniFidelity, and it is your responsibility to review them for changes.)</li>
	    <li>The Help portion of the toolbar on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether.</li>
	</ul>
	      <h2>Are Children Allowed to Use AlumniFidelity?</h2>

	      <p>AlumniFidelity does not desire contributions to be made through this website by individuals under 18 years of age.  If you are under 18, you should not make a contribution or otherwise utilize the services of this website without authorization and involvement of a parent or legal guardian. </p>

	      <h2>Conditions of Use, Notices, and Revisions.</h2>

	      <p>If you choose to visit AlumniFidelity, your visit and any dispute over privacy is subject to this Notice and our Terms of Service, including limitations on damages, resolution of disputes, and application of the law of the state of Virginia. If you have any concern about privacy at AlumniFidelity, please contact us with a thorough description, and we will try to resolve it. Our business changes constantly, and our Privacy Notice and the Terms of Service will change also. We may e-mail periodic reminders of our notices and conditions, unless you have instructed us not to, but you should check our Web site frequently to see recent changes. Unless stated otherwise, our current Privacy Notice applies to all information that we have about you.</p>

  |) %>
</div>