<style>
	#main ul {
		margin-left:15px;
	    list-style-type:disc;
		list-style-position:outside;
	}
	
	#main li {
		line-height:1.3em;
		margin-bottom:10px;
	}
</style>

<div id="main">
<%= cms("security", %|
	<h1>Security</h1>

	<h2>Is AlumniFidelity.com a secure website? What type of security features are utilized to safeguard my information?</h2>

	<p>Security is a top priority at AlumniFidelity.com.  When you submit sensitive information via the website, your information is protected both online and offline.  When our registration or donation form asks you to enter sensitive information (such as your credit card number), that information is encrypted and is protected with the best encryption software currently available in the industry - SSL.  Furthermore, when it comes to credit card numbers or other personal financial data, AlumniFidelity does not permanently store your information, which further enhances your security.</p>

	<h2>Guarding Your Data</h2>

	<p>As you’re making a donation to school or non-profit organization through one of their AlumniFidelity campaign pages, you’ll be given a choice about whether you want the recipient of your donation to contact you with news or other updates.  If you do not select this option, AlumniFidelity will make sure that your personal information, such as your email address or cell phone number, is not shared with any organization.  We take personal privacy issues very seriously, which is why we want you to choose who, if anyone, sees your information. 
	For detailed information on AlumniFidelity’s privacy policy, please <a href="/privacy">click here</a>.
	</p>

	<h2>How do I identify Phishing or Spoofed E-mails?</h2>

	<p>How do I identify Phishing or Spoofed E-mails? Know that AlumniFidelity.com will never ask you for the following information in an e-mail communication:  </p>
	<ul>
		<li>Your social security number or tax identification number</li>
		<li>Your credit card number, PIN number, or credit card security code (including "updates" to any of the above)</li>
		<li>Your mother's maiden name</li>
	</ul>
	<p>At your request, we may keep you updated periodically on changes to AlumniFidelity.com, but these updates will never include requests for you to provide any of the information listed above.</p>
|) %>
</div>