<div id="main" class="bgstyle3 content faq">

<%= cms("tos", %|
<h1>Terms of Service</h1>
<h2>1.    Acceptance of Terms</h2>

<p>AlumniFidelity, Inc. ("AlumniFidelity") welcomes you. AlumniFidelity provides access to its website and related service (collectively “Service”) to you subject to the following Terms of Service ("TOS"), which may be updated by us from time to time without notice to you.  In addition, when using particular AlumniFidelity owned or operated services, you shall be subject to any posted guidelines or rules applicable to such services, which may be posted from time to time. All such guidelines or rules (including but not limited to our Spam Policy below in section 21) are hereby incorporated by reference into the TOS. AlumniFidelity or its advertisers and credit card processors may also offer other services that are governed by different Terms of Service.
</p>
<h2>2.    Description of Service</h2>

<p>
AlumniFidelity provides users with access to a collection of resources, including various communications tools, forums, donation activities, shopping services, search services, personalized content and branded programming through its network of properties which may be accessed through various medium or devices now known or hereafter developed (the "Service"). You also understand and agree that the Service may include notices from organizations seeking contributions and other advertisements and that these notices and advertisements are necessary for AlumniFidelity to provide the Service. You also understand and agree that the Service may include certain communications from AlumniFidelity, such as service announcements, administrative messages and the AlumniFidelity updates, and that these communications are considered part of AlumniFidelity membership and you will not be able to opt out of receiving them, unless an opt-out provision is provided on the applicable screen or unless you contact AlumniFidelity, in which event AlumniFidelity shall assess, in its sole discretion, whether to permit opting-out.  As this service is being voluntarily receive, you hereby acknowledge that cancel of your service and membership is a viable alternative to the opt-out feature.  Unless explicitly stated otherwise, any new features that change or enhance the current Service, including the release of new AlumniFidelity properties, shall be subject to the TOS. You understand and agree that the Service is provided "AS-IS" and that AlumniFidelity assumes no responsibility for the timeliness, deletion, mis-delivery or failure to store any user communications or personalization settings. You are responsible for obtaining access to the Service, and that access may involve third-party fees (such as Internet service provider or airtime charges). You are responsible for those fees, including those fees associated with the display or delivery of advertisements. In addition, you must provide and are responsible for all equipment necessary to access the Service.
</p>
<p>Please be aware that YOU MUST BE AT LEAST 18 YEARS IF AGE TO make donations and utilize the services on this site without the express authorization of a parent or legal guardian.  As a condition to using this site you agree that you are subject to the laws of the Commonwealth of Virginia, in the United States of America and that any receipt or transmission of messages, solicitations or other transactions undertaken or transmitted through to AlumniFidelity’s Service or website is deemed to occur in the United States, Commonwealth of Virginia.
</p>
<h2>3.    Your Registration Obligations</h2>

<p>
In consideration of your use of the Service, you represent that you are of legal age to form a binding contract and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. You also agree to: (a) provide true, accurate, current and complete information about yourself as prompted by the Service's registration form (the "Registration Data") and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or AlumniFidelity has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, AlumniFidelity has the right to suspend or terminate your account and refuse any and all current or future use of the Service (or any portion thereof). AlumniFidelity is concerned about the safety and privacy of all its users, particularly children. 
</p>
<p>Please remember that the Service is designed to appeal to a broad audience. Accordingly, as the legal guardian, it is your responsibility to determine whether any of the Service areas and/or Content (as defined in Section 6 below) should not be viewed by minors.
</p>
<h2>4.    AlumniFidelity Privacy Policy</h2>

<p>
Registration Data and certain other information about you is subject to our Privacy Policy. For more information, see our full privacy policy in section 27 of this document. You understand and agree that through your use of the Service you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States and/or other countries for storage, processing and use by AlumniFidelity and its agents and affiliates.
</p>
<h2>5.    Member Account, Password and Security</h2>

<p>You will receive a password and account designation upon completing the Service's registration process. You are responsible for maintaining the confidentiality of the password and account and are fully responsible for all activities that occur under your password or account. You agree to (a) immediately notify AlumniFidelity of any unauthorized use of your password or account or any other breach of security, and (b) ensure that you exit from your account at the end of each session. AlumniFidelity cannot and will not be liable for any loss or damage arising from your failure to comply with this Section 5.
</p>
<h2>6.    Member Conduct</h2>

<p>
You understand that all information, data, text, software, music, sound, photographs, graphics, video, messages, tags, or other materials ("Content"), whether publicly posted or privately transmitted, are the sole responsibility of the person from whom such Content originated. This means that you, and not AlumniFidelity, are entirely responsible for all Content that you upload, post, email, transmit or otherwise make available via the Service. AlumniFidelity does not control the Content posted via the Service and, as such, does not guarantee the accuracy, integrity or quality of such Content. You understand that by using the Service, you may, through no intention of AlumniFidelty, be exposed to Content that is offensive, indecent or objectionable. Links to other web sites do not imply an endorsement of the materials disseminated at those web sites, nor does the existence of a link to another site imply that the organization or person publishing at that site endorses any of the materials at this site. Links to other web sites are provided by AlumniFidelity as a convenience to its users. AlumniFidelity is not responsible for the materials contained at any web site linked to this site. Under no circumstances will AlumniFidelity be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Service.
</p>
<p>You agree to not use the Service to:
</p>
<p>a.     upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, lewd, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;
</p>
<p>b.     harm minors in any way;
</p>
<p>c.     impersonate any person or entity, including, but not limited to, a AlumniFidelity official, forum leader, guide or host, or falsely state or otherwise misrepresent your affiliation with a person or entity;
</p>
<p>d.     forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the Service;
</p>
<p>e.     upload, post, email, transmit or otherwise make available any Content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);
</p>
<p>f.     upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights ("Rights") of any party;
</p>
<p>g.     upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation, except in those areas (such as shopping) that are designated for such purpose (please read our complete spam policy in section]), which hereby is incorporated herein by reference;
</p>
<p>h.     upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
</p>
<p>i.     disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the Service are able to type, or otherwise act in a manner that negatively affects other users' ability to engage in real time exchanges;
</p>
<p>j.     interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service;
</p>
<p>k.     intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited to, regulations promulgated by the U.S. Securities and Exchange Commission or other securities exchange, any federal, local or state rules or regulations regarding contributions, security, piracy, copyright, indecency, disclosure, disparagement or other regulations having the force of law;
</p>
<p>l.     provide material support or resources (or to conceal or disguise the nature, location, source, or ownership of material support or resources) to any organization(s) designated by the United States government as a foreign terrorist organization pursuant to section 219 of the Immigration and Nationality Act;
</p>
<p>m.     "stalk" or otherwise harass another; and/or
</p>
<p>n.     collect or store personal data about other users in connection with the prohibited conduct and activities set forth in paragraphs a through m above.
</p>
<p>You acknowledge that AlumniFidelity may or may not pre-screen Content, but that AlumniFidelity and its designees shall have the right (but not the obligation) in their sole discretion to pre-screen, edit, refuse, or remove any Content that is available via the Service. Without limiting the foregoing, AlumniFidelity and its designees shall have the right to remove any Content that violates the TOS or is otherwise objectionable. You agree that you must evaluate, and bear all risks associated with, the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content. In this regard, you acknowledge that you may not rely on any Content created by AlumniFidelity or submitted to AlumniFidelity, including without limitation information in AlumniFidelity message boards and in all other parts of the Service. Portions of this site may allow users to post their own material. The materials posted by users do not necessarily reflect the views of AlumniFidelity. By posting materials to the AlumniFidelity web site, you represent that you have all necessary rights in and to such materials.
</p>
<p>You acknowledge, consent and agree that AlumniFidelity may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce the TOS; (c) respond to claims that any Content violates the rights of third parties; (d) respond to your requests for customer service; or (e) protect the rights, property or personal safety of AlumniFidelity, its users and the public; or (f) retain, transmit and/or report data, contributions and requested related information to respond to local institutions to which a donation is being made by you, to comply with regulatory requirements and to aggregate collection for analysis purposes.
</p>
<p>You understand that the technical processing and transmission of the Service, including your Content, may involve (a) transmissions over various networks, (b) retention on AlumniFidelty’s, its agents’ and donees’ database for a period of time; and (c) changes to conform and adapt to technical requirements of connecting networks or devices.
</p>
<p>You understand that the Service and software embodied within the Service may include security components that permit digital materials to be protected, and that use of these materials is subject to usage rules set by AlumniFidelity and/or content providers who provide content to the Service. You may not attempt to override or circumvent any of the usage rules embedded into the Service. Any unauthorized reproduction, publication, further distribution or public exhibition of the data and materials provided on the Service, in whole or in part, is strictly prohibited.
</p>
<h2>7.    Interstate Nature of Communications on AlumniFidelity Network</h2>

<p>
When you register with AlumniFidelity, you acknowledge that in using AlumniFidelity services to send electronic communications (including but not limited to email, search queries, sending messages to AlumniFidelity Chat or AlumniFidelity Groups, uploading photos and files and other Internet activities), you will be causing communications to be sent through AlumniFidelity's computer networks, portions of which are located in  Virginia, and other locations in the United States and portions of which may be located abroad. As a result, and also as a result of AlumniFidelity's network architecture and business practices and the nature of electronic communications, even communications that seem to be intrastate in nature can result in the transmission of interstate communications regardless of where you are physically located at the time of transmission. Accordingly, by agreeing to this Terms of Service, you acknowledge that use of the service could likely result in interstate data transmissions.
</p>
<p>AlumniFidelity email system, including any web-based versions, may allow you and the people with whom you communicate to save your conversations in your AlumniFidelity accounts located on AlumniFidelity servers. This means you can access and search your message history from any computer with access to the internet. Whether or not you use this feature, other users may choose to use it to save conversations with you in their account on AlumniFidelity too. Your agreement to this TOS constitutes your consent to allow AlumniFidelity to store these communications on its and its agents’ servers. From time to time AlumniFidelity may send you notices through the AlumniFidelity email service to let you know about important changes to the AlumniFidelity Services. Such messages may not be received if you violate this TOS by accessing the Service in an unauthorized manner. Your agreement to this TOS constitutes your agreement that you are deemed to have received any and all notices that would have been delivered had you accessed the Service in an authorized manner. You agree that all agreements, notices, disclosures, and other communications that AlumniFidelity provides to you electronically satisfy any legal requirement that such communications be in writing.
</p>
<h2>8.    Special Admonitions for International Use</h2>

<p>
Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable Content. Specifically, you agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside.
</p>
<h2>9.    Content Submitted or Made Available for Inclusion on the Service</h2>

<p>
AlumniFidelity does not claim ownership of Content you submit or make available for inclusion on the Service. However, with respect to Content you submit or make available for inclusion on publicly accessible areas of the Service, you grant AlumniFidelity the following worldwide, royalty-free and non-exclusive license(s), as applicable:
</p>
<p>a.     With respect to Content you submit or make available for inclusion on publicly accessible areas of AlumniFidelity, the license to use, distribute, reproduce, modify, adapt, publicly perform and publicly display such Content on the Service solely for the purposes of providing and promoting the specific AlumniFidelity donor group to which such Content was submitted or made available. This license exists only for as long as you elect to continue to include such Content on the Service and will terminate at the time you remove or AlumniFidelity removes such Content from the Service.
</p>
<p>b.     With respect to photos, graphics, audio or video you submit or make available for inclusion on publicly accessible areas of the Service, for specific AlumniFidelity donor groups, the license to use, distribute, reproduce, modify, adapt, publicly perform and publicly display such Content on the Service solely for the purpose for which such Content was submitted or made available. This license exists only for as long as you elect to continue to include such Content on the Service and will terminate at the time you remove or AlumniFidelity removes such Content from the Service.
</p>
<p>c.     With respect to Content other than photos, graphics, audio or video you submit or make available for inclusion on publicly accessible areas of the Service, other than AlumniFidelity donor groups, the perpetual, irrevocable and fully sublicensable license to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such Content (in whole or in part) and to incorporate such Content into other works in any format or medium now known or later developed.
</p>
<p>"Publicly accessible" areas of the Service are those areas of the AlumniFidelity network of properties that are intended by AlumniFidelity to be available to the general public. By way of example, publicly accessible areas of the Service would include AlumniFidelity message boards and portions of AlumniFidelity campaigns, photos and contribution tables that are open to both members and visitors. However, publicly accessible areas of the Service would not include portions of AlumniFidelity Services intended for private communication such as AlumniFidelity direct single party e-mail messages, or areas off of the AlumniFidelity network of properties such as portions of World Wide Web sites that are accessible via hypertext or other links but are not hosted or served by AlumniFidelity.
</p>
<h2>10.   Contributions to AlumniFidelity</h2>

<p>
By submitting ideas, suggestions, documents, and/or proposals ("Contributions") to AlumniFidelity through its suggestion or feedback webpages, you acknowledge and agree that: (a) your Contributions do not contain confidential or proprietary information; (b) AlumniFidelity is not under any obligation of confidentiality, express or implied, with respect to the Contributions; (c) AlumniFidelity shall be entitled to use or disclose (or choose not to use or disclose) such Contributions for any purpose, in any way, in any media worldwide; (d) AlumniFidelity may have something similar to the Contributions already under consideration or in development; (e) your Contributions automatically become the property of AlumniFidelity without any obligation of AlumniFidelity to you; and (f) you are not entitled to any compensation or reimbursement of any kind from AlumniFidelity under any circumstances.
</p>
<h2>11.   Indemnity</h2>

<p>
You agree to indemnify and hold AlumniFidelity and its subsidiaries, affiliates, officers, agents, employees, partners and licensors harmless from any claim or demand, damage, loss and cost, including reasonable attorneys' fees, made by any third party due to or arising out of Content you submit, post, transmit or otherwise make available through the Service, your use of the Service, your connection to the Service, your violation of the TOS, or your violation of any rights of another.  For purposes hereof, you are responsible for any usage of your account by another person and any violations of these terms and conditions by another person accessing your account, unless the use is determined, in AlumniFidelity’s sole discretion, to be out of your control and not due to your negligence or permission. 
</p>
<h2>12.   No Resale of Service</h2>

<p>
You agree not to reproduce, duplicate, copy, sell, trade, resell or exploit for any commercial purposes, any portion of this website or the Service (including your AlumniFidelity ID), use of the Service, or access to the Service. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of AlumniFidelity without express written consent.  Any unauthorized use terminates the permission or license granted by AlumniFidelity.
</p>
<h2>13.   General Practices Regarding Use and Storage</h2>

<p>
You acknowledge that AlumniFidelity may establish general practices and limits concerning use of the Service, including without limitation the maximum number of days that email messages, message board postings or other uploaded Content will be retained by the Service, the maximum number of email messages that may be sent from or received by an account on the Service, the maximum size of any email message that may be sent from or received by an account on the Service, the maximum disk space that will be allotted on AlumniFidelity's servers on your behalf, and the maximum number of times (and the maximum duration for which) you may access the Service in a given period of time. You agree that AlumniFidelity has no responsibility or liability for the deletion or failure to store any messages and other communications or other Content maintained or transmitted by the Service. You acknowledge that AlumniFidelity reserves the right to log off accounts that are inactive for an extended period of time. You further acknowledge that AlumniFidelity reserves the right to modify these general practices and limits from time to time.
</p>
<h2>14.   Modifications to Service</h2>

<p>
AlumniFidelity reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. You agree that AlumniFidelity shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.
</p>
<h2>15.   Termination</h2>

<p>
You agree that AlumniFidelity may, under certain circumstances and without prior notice, immediately terminate your AlumniFidelity account, any associated email address, and access to the Service. Cause for such termination shall include, but not be limited to, (a) breaches or violations of the TOS or other incorporated agreements or guidelines, (b) requests by law enforcement or other government agencies, (c) a request by you (self-initiated account deletions), (d) discontinuance or material modification to the Service (or any part thereof), (e) unexpected technical or security issues or problems, (f) extended periods of inactivity, (g) engagement by you in fraudulent or illegal activities, and/or (h) nonpayment of any fees owed by you in connection with the Services. Termination of your AlumniFidelity account includes (a) removal of access to all offerings within the Service, including but not limited to AlumniFidelity Mail, Groups, Messenger, Chat, Domains, Personals, Auctions, Message Boards, Greetings, Alerts and Games, (b) deletion of your password and all related information, files and content associated with or inside your account (or any part thereof), and (c) barring of further use of the Service. Further, you agree that all terminations for cause shall be made in AlumniFidelity's sole discretion and that AlumniFidelity shall not be liable to you or any third party for any termination of your account, any associated email address, or access to the Service.
</p>
<h2>16.   Dealings With Advertisers</h2>

<p>
Your correspondence or business dealings with, or participation in promotions of, advertisers found on or through the Service, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such advertiser. You agree that AlumniFidelity shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such advertisers on the Service.
</p>
<h2>17.   Links</h2>

<p>
The Service may provide, or third parties may provide, links to other World Wide Web sites or resources. Because AlumniFidelity has no control over such sites and resources, you acknowledge and agree that AlumniFidelity is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that AlumniFidelity shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.
</p>
<h2>18.   AlumniFidelity's Proprietary Rights</h2>

<p>
You acknowledge and agree that the Service and any necessary software used in connection with the Service ("Software") contain proprietary and confidential information that is protected by applicable intellectual property and other laws. You further acknowledge and agree that Content contained in sponsor advertisements or information presented to you through the Service or by advertisers is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except as expressly permitted by applicable law or authorized by AlumniFidelity or advertisers, you agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the Service or the Software, in whole or in part.
</p>
<p>AlumniFidelity grants you a personal, non-transferable and non-exclusive right and license to use the object code of its Software on a single computer; provided that you do not (and do not allow any third party to) copy, modify, create a derivative work from, reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense, grant a security interest in or otherwise transfer any right in the Software. You agree not to modify the Software in any manner or form, nor to use modified versions of the Software, including (without limitation) for the purpose of obtaining unauthorized access to the Service. You agree not to access the Service by any means other than through the interface that is provided by AlumniFidelity for use in accessing the Service.
</p>
<h2>19.   Disclaimer of Warranties</h2>

<p>
You expressly understand and agree that:
</p>
<p>a.     Your use of the service is at your sole risk. the service is provided on an "as is" and "as available" basis. AlumniFidelity and its affiliates, officers, employees, agents, owners, partners and licensors expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement.
</p>
<p>b.     AlumniFidelity and its subsidiaries, affiliates, officers, employees, agents, partners and licensors make no warranty that (i) the service will meet your requirements; (ii) the service will be uninterrupted, timely, secure or error-free or virus-free; (iii) the results that may be obtained from the use of the service will be accurate or reliable; (iv) the quality of any products, services, information or other material purchased or obtained by you through the service will meet your expectations; and (v) any errors in the software will be corrected.
</p>
<p>c.     any material downloaded or otherwise obtained through the use of the service is accessed at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material.
</p>
<p>d.     no advice or information, whether oral or written, obtained by you from AlumniFidelity or through or from the service shall create any warranty not expressly stated in the tos.
</p>
<p>e.     a small percentage of users may experience epileptic seizures when exposed to certain light patterns or backgrounds on a computer screen or while using the service. certain conditions may induce previously undetected epileptic symptoms even in users who have no history of prior seizures or epilepsy. if you, or anyone in your family, have an epileptic condition, consult your physician prior to using the service. immediately discontinue use of the service and consult your physician if you experience any of the following symptoms while using the service: dizziness, altered vision, eye or muscle twitches, loss of awareness, disorientation, any involuntary movement, or convulsions.
</p>
<p>f.     AlumniFidelity makes no representations regarding the use, distribution, tax treatment of contributions made to charitable organizations through the service.  
</p>
<p>g.     AlumniFidelity uses third party vendor to process credit card transactions and AlumniFidelity shall have no liability for the use, distribution, and transmission of funds by/through such vendors or to any charitable organizations.
</p>
<h2>20.   Limitation of Liability</h2>

<p>
You expressly understand and agree that AlumniFidelity and its subsidiaries, affiliates, officers, employees, agents, partners and licensors shall not be liable (to the fullest extent permitted by law) to you or anyone accessing the services through your account for any direct, indirect, incidental, special, consequential or exemplary damages, including, but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if AlumniFidelity has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; or (v) any other matter relating to the service.
</p>
<h2>21.   Exclusions and Limitations</h2>

<p>
Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages. accordingly, some of the above limitations of sections 19 and 20 may not apply to you.
</p>
<h2>22.   Special Admonition for Services Relating to Financial Matters</h2>

<p>
If you receive a message from any unknown individual(s) or other information from the Service that looks suspicious, do not respond or make any donation or provide any personal information before investigating the situation and confirming for yourself that the sender and request are legitimate.  As with any unsolicited solicitation, due caution should be taken by the recipient.  For this type of information particularly, the phrase "Let the user beware" is apt. The Service is provided for informational purposes only, and no Content included in the Service is intended for trading or investing purposes. AlumniFidelity and its licensors shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the Service, and shall not be responsible or liable for illegitimate solicitations, false or fraudulent promises or any trading or investment decisions based on such information.
</p>
<h2>23.   No Third-Party Beneficiaries</h2>

<p>
You agree that, except as otherwise expressly provided in this TOS, there shall be no third-party beneficiaries to this agreement.
</p>
<h2>24.   Notice</h2>

<p>
AlumniFidelity may provide you with notices, including those regarding changes to the TOS, including by but not limited to email, regular mail, postings on the Service, or other reasonable means now known or hereinafter developed.
</p>
<h2>25.   Trademark Information</h2>

<p>
The AlumniFidelity logo trademarks and service marks and other AlumniFidelity developed logos and product and service names are trademarks of AlumniFidelity, Inc. (the "AlumniFidelity Marks"). Without AlumniFidelity's prior permission, you agree not to display or use in any manner the AlumniFidelity Marks. The information contained on this web site, or any other web site owned, operated, licensed, or controlled by AlumniFidelity, as well as the design and layout of such web sites, contains elements protected by trade dress, copyright, or other laws, and may not be copied or imitated in whole or in part. No text, logo, graphic, sound, or image from this web site may be copied  without the express written permission of AlumniFidelity.
</p>
<h2>26.   Notice and Procedure for Making Claims of Copyright or Intellectual Property Infringement</h2>

<p>
AlumniFidelity respects the intellectual property of others, and we ask our users to do the same. AlumniFidelity may, in appropriate circumstances and at its discretion, disable and/or terminate the accounts of users who may be repeat infringers. If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide AlumniFidelity's Copyright Agent the following information:
</p>
<p>a.     an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;
</p>
<p>b.     a description of the copyrighted work or other intellectual property that you claim has been infringed;
</p>
<p>c.     a description of where the material that you claim is infringing is located on the site;
</p>
<p>d.     your address, telephone number, and email address;
</p>
<p>e.     a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
</p>
<p>f.     a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.
</p>
<p>AlumniFidelity's Agent for Notice of claims of copyright or other intellectual property infringement can be reached as follows:
</p>
<p>By mail:
</p>
<p>Copyright Agent
</p>
<p>c/o AlumniFidelity Inc.<br>
1915 N. Wayne St. <br>
Arlington, Virginia 22201

</p>

<h2>27.   Anti-Spam Policy</h2>
<p>AlumniFidelity encourages you to use our service as long as you abide by these Terms of Service and AlumniFidelity's prohibition on spamming and unethical marketing activities. The following are some examples of spamming that may violate the Terms of Service and our Spam Policy:</p>

<p>   a. Manipulating identifiers, such as email headers, to disguise the origin of any content transmitted to or through AlumniFidelity computer systems.</p>
<p>   b. Relaying email from a third party's mail servers without the permission of that third party.</p>
<p>   c. Using or causing to be used AlumniFidelity’s computer systems to facilitate the transmission of unsolicited or unauthorized material. This includes any promotional materials, URLs, "junk mail," "chain letters," "pyramid schemes," or any other form of unauthorized solicitation that you may upload, post, email, transmit, or otherwise make available.</p>
<p>   d. Using "robots" or otherwise harvesting other's email addresses from the AlumniFidelity site for purposes of sending unsolicited or unauthorized material.</p>
<p>   e. Uploading, posting, emailing, or transmitting the same message, URL, or post multiple times.</p>
<p>   f. Disrupting the normal flow of dialogue, or causing the screen to "scroll" faster than other users of the service are able to type, or otherwise acting in a manner that negatively affects other users' ability to engage in real-time exchanges.</p>

<p>Violations of our Terms of Service or this Universal Spam Policy may result in legal action against you and the termination, without notice, of your AlumniFidelity ID and/or user account and/or anything associated with it, including, but not limited to, email accounts, clubs, posts, home pages, and profiles. Nothing in this policy is intended to grant any right to transmit email to or through AlumniFidelity computer systems. AlumniFidelity does not waive any rights by the failure to enforce this policy in every instance in which it might apply.</p>

<p>NOTICE: Sending unsolicited email advertisements to or through AlumniFidelity computer systems will use or cause to be used AlumniFidelity servers located in Virginia. Any unauthorized use of AlumniFidelity’s computer systems is a violation of these Terms of Service and its Universal Spam Policy, and certain federal and state laws, including the Computer Fraud and Abuse Act (18 U.S.C. § 1030 et seq.). Such violations may subject the sender and his or her agents to civil and criminal penalties.</p>


<h2>28.   General Information</h2>

<p>
Entire Agreement. The TOS constitutes the entire agreement between you and AlumniFidelity and governs your use of the Service, superseding any prior agreements between you and AlumniFidelity with respect to the Service. You also may be subject to additional terms and conditions that may apply when you use or purchase certain other AlumniFidelity services, affiliate services, third-party content or third-party software.
</p>
<p>Choice of Law and Forum. The TOS and the relationship between you and AlumniFidelity shall be governed by the laws of the Commonwealth of Virginia without regard to its conflict of law provisions. You and AlumniFidelity agree to submit to the personal and exclusive jurisdiction of the courts located within the county of Arlington, Virginia.
</p>
<p>Waiver and Severability of Terms. The failure of AlumniFidelity to exercise or enforce any right or provision of the TOS shall not constitute a waiver of such right or provision. If any provision of the TOS is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the TOS remain in full force and effect.
</p>
<p>No Right of Survivorship and Non-Transferability. You agree that your AlumniFidelity account is non-transferable and any rights to your AlumniFidelity ID or contents within your account terminate upon your death. Upon receipt of a copy of a death certificate, your account may be terminated and all contents therein permanently deleted.
</p>
<p>Statute of Limitations. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the TOS must be filed within one (1) year after such claim or cause of action arose or be forever barred.
</p>
<p>The section titles in the TOS are for convenience only and have no legal or contractual effect.
</p>
<h2>28.   Violations</H2>

<p>
      Please report any violations of the TOS to our Customer Service Representative at <a href="mailto:support@alumnifidelity.com">support@alumnifidelity.com</a>.
|) %>
</div>
