<div class="single_column bg1 pad center">

    <h1>Forgot password?</h1><br />


    <!--Show retrieve password form -->


    <b>Enter the email address you signed up with, and we'll send you a new password.</b>
    <br /><br />

    <form action="/account/send_forgotten_password" method="post" class="standard">
    <ul>
      <li>
        <label>Email:</label>
        <input type="text" name="email" class="medium" />
      </li>

      <li>
	  <br/>
        <input type="hidden" name="success" />
        <input type="submit" value="Send me my new password" />
      </li>
    </ul>
    </form>




</div>

  	<div style="clear:both"></div>