.help
  .help_header Having Problems?
  If you have any questions about the registration process, please don't hesitate to contact us at 202.680.8925 or 
  %a{ :href=>"mailto:support@alumnifidelity.com"} support@alumnifidelity.com