<div id="campaign_donate_callout">
	<a href="/dcc/pay?campaign_id=<%= @campaign.id %>"><img src="/images/step_4.png" class="base"></a>
	<a href="/campaigns/skip_donate?campaign_id=<%= @campaign.id %>" class="skip"><img src="/images/step_4_skip.png"></a>
</div>