<img src="/images/step_5.png" style="padding-top:10px">
<div id="campaign_finish_initiation" class="flash flash_notice">
	Now continue to promote it using the options under the "Promote" tab:
	<ul>
		<li>"New Appeal" &mdash; lets you compose an invitation to additional prospects</li>
		<li>"Manage Appeals" &mdash; lets you 'nudge' propsects you've already invited and thank your contributors</li>
		<li>"e-Bumper Stickers" &mdash; lets you build an electronic Bumper Sticker linking to your campaign and uploads it to your Facebook profile and other venues for you.</li>
	</ul>
	And explore the advanced options under the "Edit" tab.  Have fun!
	
	<a href="/campaigns/finish_initiation?campaign_id=<%= @campaign.id %>">Close this message</a>
</div>