<div id="campaign_promote_callout">
	<img src="/images/step_2.png" class="base">
	<a href="/campaigns/edit/<%= @campaign.id %>" class="edit"><img src="/images/step_2_edit.png"></a>
	<a href="/promotion/new?campaign_id=<%= @campaign.id %>" class="promote"><img src="/images/step_2_promote.png"></a>
</div>
<div style="text-align:right; font-size:12px; font-style:italic;">(You can always edit your page later.)</div>